.work-main {
  margin-top: 100px;

  h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
  }

  h5.customer {
    text-align: left;
    margin-top: 5px;
    color: #afafaf;
    text-transform: uppercase;
    font-weight: 700;
  }
}
